.masthead {
  .container {
    .user-tools {
      top: 11px;
      background-color: rgba(34, 34, 34, 0.7);
    }
  }
}

.breadcrumb {
  margin: 15px 0 0;
}

#user-profile {
  a.btn-user-whole {
    &:link, &:visited {
      padding: 17px 15px 12px 15px;
    }
  }
}

.g-upper-body-title {
  @include smalldesktop {
    margin-left: calc(((100vw - 900px) / 2) - 20px);
  }

  @media (min-width: 1320px) {
    margin-left: calc((100vw - 1320px) / 2);
  }
}

.g-upper-body {
  max-width: none;

  @media (min-width: #{$desktop-width}) and (max-width: 1174px) {
    margin-left: 225px;
  }

  @media (min-width: 1175px) {
    margin-left: 270px;
  }

  .search-topper {
    max-width: 900px;
  }

  .kicker {
    max-width: 900px;
  }
}

.g-body .g-left-panel {
  @include desktop {
    width: 200px;
  }

  .children-view {
    ul.children {
      padding-left: 0;
      list-style-type: none;
    }

    li {
      text-indent: 0;
      padding: 3px 5px 3px 0;
      font-size: 15px;
      line-height: 20px;
      box-sizing: border-box;

      a {
        color: $black;
      }
    }
  }
}

.g-body .g-main-content {
  max-width: 900px;

  @media (min-width: #{$desktop-width}) and (max-width: 1174px) {
    margin-left: 225px;
  }

  @media (min-width: 1175px) {
    margin-left: 270px;
  }

  p {
    margin-bottom: 20px;
  }

  img {
    margin: 0 10px 5px 0;
  }

  .image-wrapper {
    display: inline-block;
  }

  .children-container {
    @include desktop {
      display: none;
    }

    .section-kicker {
      font-family: $font-sans;
      font-weight: 600;
      text-transform: capitalize;
      color: $black;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px;
      margin-left: -20px;
    }
  }
}

.g-body .g-footer {
  max-width: 900px;

  @media (min-width: #{$desktop-width}) and (max-width: 1174px) {
    margin-left: 225px;
  }

  @media (min-width: 1175px) {
    margin-left: 270px;
  }
}

#category-page-upper {
  .g-upper-body {
    max-width: 900px;
    margin-left: auto;
  }
}

#category-page {
  .g-main-content {
    margin-left: 0px;
  }
}
